<h1 class ="top">投稿一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
<% @blogs.each do |blog| %>
  <tr>
    <td>タイトル：<%= blog.title %></td>
    <td>内容：<%= blog.content %></td>
    <td><%= blog.user.name %>の投稿</td>
    <td><%= link_to '詳細を確認', blog_path(blog.id) %></td>
    <% if blog.user_id == current_user.id %>
    <td><%= link_to "投稿を編集", edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to '投稿を削除', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
    <% end %>
  </tr>
  <table>
    <% if blog.image.present? %>
    <td><%= image_tag blog.image.url %></td>
    <% end %>
  </table>
<% end %>
</table>
<%= link_to '新しく投稿する', new_blog_path %>
