<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<% if @user.image.present? %>
<td><%= image_tag @user.image.url %></td>
<% end %>

<% if logged_in? %>
<h3><%= link_to "投稿一覧画面へ", blogs_path %></h3>
<h3><%= link_to "お気に入り一覧画面へ", favorites_path %></h3>
<h3><%= link_to "ページの編集", edit_user_path %></h3>
<% else %>
   <h3>ログインしてください</h3>
<% end %>
